@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
}

/* base styles */
body {
    background: #eee;
    font-family: "Roboto";
    color: #444;
    max-width: 960px;
    margin: 100px auto;
    margin-top: 0;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav h1 {
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
    background: #36cca2;
    padding: 10px;
    border-radius: 10px;
}
form {
    max-width: 500px;
}
input,
textarea {
    display: block;
    margin: 16px 0;
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-family: "Roboto";
}
textarea {
    min-height: 200px;
}

/* post list */
.post {
    padding: 16px;
    background: white;
    border-radius: 10px;
    margin: 20px 0;
}
.post h2 {
    margin: 0;
}
.post p {
    margin-top: 0;
}
.post a {
    color: #36cca2;
}

/* Set a style for all buttons */
button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover,
.delete:hover,
.update:hover,
a:hover {
    opacity: 0.7;
    /* background-color: #fff; */
}

.btn {
    display: flex;
    justify-content: space-between;
}

.delete {
    background-color: red;
}
